@font-face {
    font-family: 'Winky Rough';
    src: url('WinkyRough-Italic.woff2') format('woff2'),
        url('WinkyRough-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Rough';
    src: url('WinkyRough-Regular.woff2') format('woff2'),
        url('WinkyRough-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

